extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 TypeErrorDev
        p Full Stack JavaScript Developer

        .about-bio
          p I am a Software Engineer that focuses on Front End frameworks and libraries such as React and Angular in Agile and Kanban settings. I have a passion for JavaScript interactivity and Web Accessibility. My passion project has been building a Full Stack MERN application called Total Management Properties, where I simplify the process to manage multiple real estate properties in real time and enhance user experience while paying rent or submitting a maintenance ticket.

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Tailwinds 
          li Bootstrap 
          li TypeScript 

        h6 Contact Info


        ul
          li 555-555-1234
          a(href='https://www.matthewpantel.com' _target='_blank')
            li www.MatthewPantel.com

        a.btn-link(href='https://www.linkedin.com/in/matthewpantel/') LinkedIn
        a.btn-link(href='https://github.com/TypeErrorDev') GitHub
        a.btn-link(href='https://twitter.com/TypeErrorDev') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back