extends layout 

block content 
    .error-cards
       h1= `Server Error Occured`
       h2= `Server Error Status - ${error.status}`
       p= `Heres your readable error message: ${error.message}`

    nav.nav
      a(href='/')
        span &larr;
        |  Back