extends layout 

block content 
  .error-cards
    h1 Generic Error Occured
    h2 Generic Error Status - #{error.status}
    p Want to deep dive into the issue? Heres the stack trace: #{error.message}
    p This is page: error404.pug

  nav.nav
    a(href='/')
      span &larr;
      |  Back



