extends layout.pug

block content

  article.portfolio-intro
    h1 My Full Stack Portfolio 
    p Welcome to my portfolio. I am a full stack web developer with a passion for creating beautiful, responsive websites.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_url[0]}`, alt=`${project.description}`)
            h5= `${project.project_name}`